<!DOCTYPE html>
{% load static%}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="description"
			content="Übe is the premier online destination for philosophical discussions and debates. Our chat room website and app provide a welcoming and inclusive space for people from all walks of life to come together and explore philosophical ideas." />
		<meta
			name="keywords"
			content="philosophy, chat room, debate, discuss, philosophical ideas, games, dilemmas, communities, personal growth, self-improvement, individuality, self-transcendence, personal responsibility" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1" />
		<meta
			name="robots"
			content="index, follow" />
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href='{% static "styles/main.css" %}' />
		<script
			defer
			src="{% static 'scripts/dropDownMenu.js' %}"></script>
		<title>Ube</title>
	</head>
	<body>
		<header class="header header--loggedIn">
			{% include 'navbar.html' %} {% if messages %}
			<ul>
				{% for message in messages %}
				<li
					class="alert alert-{{ message.category }} alert-dismissible fade show"
					role="alert">
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</header>
		{% block content %} {% endblock %}
	</body>
</html>
