{% extends "main.html" %} {% block content %}
<h1>Übe</h1>
<a href="{% url 'room-form' %}">Create Room</a>
<ul>
	{% for room in rooms %}
	<li>
		<a href="{% url 'update-room' room.id %}">
			Edit
		</a>
		<span> @{{room.host.username}} </span>
		<a href="{% url 'room' room.link %}">{{ room.name }}</a>
		<ol>
			{% for topic in room.topics.all %}
			<li>{{ topic.name }}</li>
			{% endfor %}
		</ol>
		<span> {{ room.participants.count }} participants </span>
		<small>
			{{ room.participants.all|join:", " }}
		</small>
		<hr>
	</li>
	{% endfor %}
</ul>
{% endblock %}
